*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
	font-size: 1rem;
}

body {
	max-width: 1800px;
	min-height: 200px;
	width: 100%;
	position: relative;
	background-color: #eee;
	margin: auto auto;
}

header {
	position: sticky;
	top: -1%;
	width: 100%;
	background: white;
	padding: 0% 10%;
	box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
	z-index: 999;
}

header .headerTop{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: absolute;
	left: 0px;
	top: calc((100vh - 200px)/2);
	background: white;
	border-radius: 5px;
	z-index: 1000;
}
header .headerTop .sosial {
	display: flex;
	padding: 10px;
	justify-content: center;
	width: 100%;
	align-items: space-between;
	flex-direction: column;
	box-shadow:1px 1px 8px 1px rgba(0,0,0,0.1);
}


header .headerTop .sosial a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: 900;
	margin: 10px 5%;
	align-self: center;
	transition: 0.6s;

}


header .headerTop .sosial .sosActive {
	transition: 0.6s;
	transform: scale(1.15);
	font-size: 1.5rem;
}

header .headerTop .sosial .whatsapp {
	background: rgb(75,237,10);
	background: linear-gradient(25deg, rgba(75,237,10,1) 0%, rgba(92,237,12,1) 35%, rgba(1,255,0,0.6867121848739496) 100%);
}
header .headerTop .sosial .phone {
	background: rgb(44,227,15);
background: linear-gradient(25deg, rgba(44,227,15,1) 0%, rgba(110,242,13,1) 5%, rgba(27,149,49,1) 100%);
}

header .headerTop .sosial .instagram {
	background: rgb(206,233,15);
background: linear-gradient(25deg, rgba(206,233,15,0.8995973389355743) 0%, rgba(255,239,0,1) 6%, rgba(209,34,137,1) 69%);
}

header .headerTop .sosial .tiktok {
	background: rgb(10,10,10);
background: linear-gradient(25deg, rgba(10,10,10,1) 0%, rgba(18,18,17,1) 5%, rgba(12,18,106,1) 100%);}


header .headerTop .sosial a i {
	font-size: 1.2rem;
	transform: 0.5s;
	animation: icons 5s infinite ease-in-out;
	transform: rotateY(0deg);

}

header .headerTop .sosial a i:hover {
	font-size: 1.5rem;
	transform: 0.5s;
}

@keyframes icons {
	0% {
		transform: rotateY(0deg);
	}
	25% {
		transform: rotateY(180deg);
	}
	50% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}

header .header .logo {
	width: 100px;
	border-radius: 50%;
	background-size: cover; 
}

header .header .logo img {
	width: 100%;
}

header .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
header .header .closeMenu {
	display: none;
}
header .header .menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

 header .header .menu a {
 	width: calc((100%)/6);
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	color:black;
 	font-weight: 600;
 	padding: 1%;
 }

header .header .pageActive{
/*	color: rgba(0, 0, 0, 0.5);*/
border-top: 2px solid green;
border-bottom: 2px solid green;
/*border-right: 2px solid green;*/
}

header .header .menu a:hover {
	color: gray;
}

header .header button {
	background: none;
	border: none;
	display: none;
}



.slideshow-container {
  width: 100%;
  position: relative;
/*  margin: auto;*/
  max-height: 80vh;
  overflow: hidden;

}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
	min-height: 150px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

section {
	width: 90%;
	margin: 2% 5%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	background: white;
	padding: 2% 0%;
}

section h3 {
	text-align: center;
	font-size: 1.3rem;
	width: 100%;
	margin-bottom: 2%;
}

/*Tours start*/

.tour .block1 {
	background: white;
	padding: 1%;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
	width: 82%;
	justify-self: center;
	align-self: center;
	display: flex;
	justify-content: space-between;
	margin: 1%;
}
.tour .block1 .img {
	width: 40%;
	padding: 1%;
	min-height: 220px;
	max-height: 400px;
	position: relative;
}

.tour .block1 .img img {
	position: absolute;
	top: -20px;
	left: -30px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);

}

.tour > div .img img {
	transition: 0.6s;
}

.tour > div .img:hover img {
	transition: 0.6s;
	transform: scale(1.1);
}

.tour .block1 .info {
	width: 60%;
}

.tour > div .info h3 {
	text-align: left;
}


.tour .block1 .info h3 {
	font-size: 1rem;
	margin-bottom: 2%;
}

.tour .block1 .info span {
	font-size: 0.9rem;
}

.tour .block1 .info p {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 4%;
}

.tour .block1 .info p a {
	padding: 2% 7%;
	background: rgb(33,128,250);
background: linear-gradient(90deg, rgba(33,128,250,1) 0%, rgba(11,167,217,1) 100%, rgba(103,230,49,1) 100%);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
	color: white;
	
}

.tour  div .info p a {
	transition: 0.6s;

}

.tour .block1 .info p a:hover {
	background: white;
	color: rgba(33,128,250,1);
	transition: 0.6s;
}
.tour .block1 .info p span {
	font-weight: 700;
}

.tour .block2 {
	background: white;
	padding: 1%;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
	width: 40%;
/*	justify-self: center;*/
/*	align-self: center;*/
	display: flex;
	justify-content: space-between;
	margin: 1%;
}

.tour .block2 .img {
	width: 45%;
/*	padding: 2%;*/
	min-height: 150px;
	position: relative;
}

.tour .block2 .img img {
	width: 98%;
	max-height: 100%;
	min-height: 150px;
/*	border-radius: 10px;*/
/*	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);*/
}

.tour .block2 .info {
	width: 55%;
	padding: 1%;
}

.tour .block2 .info h3 {
	font-size: 1rem;
	margin-bottom: 2%;
}

.tour .block2 .info span {
	font-size: 0.9rem;
}

.tour .block2 .info p {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 4%;
}

.tour .block2 .info p a {
	padding: 2% 7%;
	background: rgb(33,128,250);
background: linear-gradient(90deg, rgba(33,128,250,1) 0%, rgba(11,167,217,1) 100%, rgba(103,230,49,1) 100%);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
	color: white;
	transition: 0.5s;

}

.tour .block2 .info p a:hover {
	background: white;
	color: rgba(33,128,250,1);
	transition: 0.5s;
}

.tour .block2 .info p span {
	font-weight: 700;
}





.tour .block3 {
	background: white;
	padding: 1%;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
	width: 26%;
/*	justify-self: center;*/
/*	align-self: center;*/
	display: flex;
	justify-content: center;
	margin: 1%;
	flex-wrap: wrap;
}

.tour .block3 .img {
	width: 98%;
	padding: 1%;
	min-height: 150px;
/*	max-height: 400px;*/
	position: relative;
}

.tour .block3 .img img {
	width: 100%;
	max-height: 100%;
	min-height: 150px;
}

.tour .block3 .info {
	width: 98%;
}

.tour .block3 .info h3 {
	font-size: 1rem;
	margin-bottom: 2%;
}

.tour .block3 .info span {
	font-size: 0.9rem;
}

.tour .block3 .info p {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 4%;
}

.tour .block3 .info p a {
	padding: 2% 7%;
	background: rgb(33,128,250);
background: linear-gradient(90deg, rgba(33,128,250,1) 0%, rgba(11,167,217,1) 100%, rgba(103,230,49,1) 100%);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
	color: white;
	transition: 0.5s;

}

.tour .block3 .info p a:hover {
	background: white;
	color: rgba(33,128,250,1);
	transition: 0.5s;
}

.tour .block3 .info p span {
	font-weight: 700;
}


.tour .videoInfo {
	width: 82%;
	margin: 1% 9%;
	background: #eee;
	display: flex;
	align-items: flex-start;
	background: white;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.tour .videoInfo .video {
	width: 50%;
	padding: 1%;
}

.tour .videoInfo .info {
	width: 49%;
	padding: 1%;
}

.tour .videoInfo .info h3 {
	font-size: 1.1rem;
	margin-bottom: 1%;
}

.tour > div {
	border-radius: 8px;
}

.tour > div .img {
	position: relative;
}
.tour > div .img img {
	z-index: 2;
}
.tour > div .img .price{
	display: block;
	position: absolute;
	z-index: 3;
	left: -5px;
	top: -5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 1.1rem;
	padding: 1% 3%;
	border-radius: 10px;
}

.tour .block3 .img .price, .tour .block2 .img .price{
	left: 8px;
	top: 8px;
}


/*Tours end*/


/*Card start*/
.slide-container{
  max-width: 100%;
  width: 90%;
  padding: 40px 0;
  margin: 1% 5%;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}
.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
/*Card end*/

footer	{
	width: 100%;
	background: white;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	padding: 2%;
}

footer h3 {
	text-align: center;
	font-weight: 100;

}




.body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  position: relative;
}
.body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #ba24c2;
  clip-path: polygon(86% 0, 100% 0, 100% 100%, 60% 100%);
}
.containerContact {
  z-index: 12;
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.containerContact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.content .image-box {
  max-width: 55%;
}
.content .image-box img {
  width: 100%;
}
.content .topic {
  font-size: 22px;
  font-weight: 500;
  color: #ba24c2;
}
.content form {
  width: 40%;
  margin-right: 30px;
}
.content .input-box {
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.content .input-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding: 0 16px;
  background: #fae9fb;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.content .input-box input:focus,
.content .input-box input:valid {
  border-color: #ba24c2;
  background-color: #fff;
}
.content .input-box label {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label {
  top: 0;
  left: 12px;
  display: 14px;
  color: #ba24c2;
  background: #fff;
}
.content .message-box {
  min-height: 100px;
  position: relative;
}
.content .message-box textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #fae9fb;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  padding: 5px 16px;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus {
  border-color: #ba24c2;
  background-color: #fff;
}
.content .message-box label {
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus ~ label {
  left: 12px;
  top: -10px;
  color: #ba24c2;
  font-size: 14px;
  background: #fff;
}
.content .input-box input[type="submit"] {
  color: #fff;
  background: #ba24c2;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.content .input-box input[type="submit"]:hover {
  background-color: #d43ddb;
}
@media (max-width: 1000px) {
  .content .image-box {
    max-width: 70%;
  }
  .content {
    padding: 10px 0;
  }
}
@media (max-width: 900px) {
  .content .image-box {
    display: none;
  }
  .content form {
    width: 100%;
    margin-left: 30px;
  }
}


.about {
	width: 90%;
	display: flex;
	align-items: flex-start;
	margin: 0 5% ;
}
.about h3 {
	text-align: left;
	text-decoration: underline;
}
.about .aboutBlock {
	width: 68%;
	padding: 1%;

}
.about .aboutTours {
	width: 28%;
	padding: 1%;
}

.about .aboutTours .block {
	width: 98%;
	padding: 1%;

}

.about .aboutTours .block .img {
	width: 100%;
	position: relative;
	height: 150px;
}
.about .aboutTours .block .img img {
	width: 100%;
	height: 100%;
}
.about .aboutTours .block .img .info {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	transition: 0.4s;
	cursor:pointer;
}

.about .aboutTours .block .img .info span {
	font-size: 1.5rem;
}

.about .aboutTours .block .img .info a {
	color: white;
	padding: 2% 5%;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	position: absolute;
	bottom: 20px;
}

.about .aboutTours .block .img .info:hover {
	background: none;
	transition: 0.4s;
}
.about .aboutTours .block .img .info:hover a {
	opacity: 1;
}


@media (max-width:991px) {
	header {
		padding: 0% 2%;
	}
	section {
		width: 96%;
		margin: 2%;
		padding: 1%;
	}

	.tour {
		width: 94%;
		margin: 3%;
	}

	.tour .block1 {
		width: 92%;
	}
	.tour .block1 .img {
		width: 35%;
		min-height: 180px;
	}
	.tour .block1 .info {
		width: 65%;
	}
	.tour .block2 {
		width: 45%;
	}
	.tour .block2 .img {
			width: 40%;
			min-height: 120px;
	}
	.tour .block2 .img img {
			width: 98%;
			min-height: 120px;
	}
	.tour .block2 .info{
		width: 60%;
	}
	.tour .block3 {
		width: 29.5%;
	} 
	.tour .videoInfo {
		width: 92%;
		margin: 2% 4%;
		box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
	}
	.about {
		width: 94%;
		margin: 2% 3%;
	}
}


@media (max-width:778px) {
	header {
		padding: 0% 2%;
	}

	header .header .menu {
		position: fixed;
		left: -200%;
		top: -150%;
		z-index: 1000;
		width: 100%;
		height: 100vh;
		min-height: 100px;
		overflow: auto;
		padding: 5% 1%;
		transition: 0.5s;

	}
	header .header .menuActive {
		left: 0%;
		top: 0%;
		flex-direction: column;
		background: white;
		transition: 0.3s;
	}
	
	header .header .menuActive a {
		width: 60%;
	}
	header .header button {
		display: block;
		position: relative;
	}
	header .header .closeMenu {
		display: block;
		font-size: 2rem;
		position: absolute;
		right: 2%;
		top: 10px;
		cursor: pointer;
	}

	header .header .closeMenuActive {
		opacity: 1;
		transition: 0.5s;
		animation: menuClose 2s;
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}
	.fa-bars {

		transition: 0.3s;
	}
	.fa-barsNone {
		opacity: 0;
		transition: 0.5s;
		animation: menuClose 3s ;

	}
	@keyframes menuClose {
		0% {
			transform: rotateY(0deg);
		}
		0% {
			transform: rotateY(360deg);
		}
	}
	header .headerTop {
		width: 40px;
		background: none;
	}
	header .headerTop .sosial {
		padding: 5px;
	}


	header .headerTop .sosial a {
		width: 30px;
		height: 30px;
		margin: 10px 2%;


	}
	section {
		width: 98%;
		margin: 1%;
	}

	.tour {
		width: 98%;
		margin: 1%;
	}

	.tour .block1 {
		width: 96%;
	}
	.tour .block1 .img {
		width: 30%;
		height: auto;
	}
	.tour .block1 .img img {
			max-width: 98%;
			min-height: 150px;
			height: auto;
			left: 0px;
			top: 0px;
			border-radius: 0;
	}
	.tour .block1 .info {
		width: 70%;
	}
	.tour .block2 {
		width: 48%;
		margin: 1%;
		flex-wrap: wrap;
	}
	.tour .block2 .img {
			width: 100%;
			min-height: 120px;
	}
	.tour .block2 .img img {
			max-width: 98%;
			min-height: 120px;
	}
	.tour .block2 .info{
		width: 100%;
	}
	.tour .block3 {
		width: 48%;
	} 
	.tour .videoInfo {
		width: 92%;
		margin: 2% 4%;
		box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
	}
	.tour > div .img .price{
		left: 5px;
		top: 5px;
		font-size: 0.9rem;
	}
	.tour .videoInfo .info h3 {
		font-size: 1rem;
	}
	.tour .videoInfo .info *{
		font-size: 0.9rem;
	}
	.about {
		width: 96%;
		margin: 1% 2%;
	}
	.about .aboutBlock{
		width: 60%;
	}
	.about .aboutTours{
		width: 40%;
	}
	.about .aboutTours .block .img .info span {
		font-size: 1.2rem;
	}
}


@media (max-width:600px) {
	header {
		padding: 0% 2%;
	}
	header .headerTop {
		left: calc(100% - 40px);

	}
	header .header .logo {
		width: 80px;
	}
	.dot {
	  height: 10px;
	  width: 10px;
	}
	
	header .header .menuActive {
		padding-top: 20px;
	}
	header .header .menu .closeMenu {
		top: 5px;
	}

	section {
		width: 100%;
		margin: 1% 0;
	}
	.tour {
		width: 98%;
		margin: 1%;
	}

	.tour .block1 {
		width: 100%;
		margin: 1% 0;
		padding: 1%;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;
	}
	.tour .block1 .img img {
		box-shadow: none;
	}
	.tour .block1 .img {
		width: 98%;
	}
	.tour .block1 .img img {
			max-width: 98%;
			min-height: 120px;
			height: auto;
			left: 0px;
			top: 0px;
			border-radius: 0;
	}
	.tour .block1 .info {
		width: 100%;
	}
	.tour .block2 {
		width: 100%;
		margin: 1% 0%;
		flex-wrap: wrap;
	}
	.tour .block2 .img {
			width: 100%;
			min-height: 120px;
	}
	.tour .block2 .img img {
			max-width: 98%;
			min-height: 120px;
	}
	.tour .block2 .info{
		width: 100%;
	}
	.tour .block3 {
		width: 100%;
	} 
	.tour .videoInfo {
		width: 98%;
		margin: 1%;
		flex-wrap: wrap;
	}
	
	.tour .videoInfo .video {
		width: 98%;
		padding: 1%;
	}

	.tour .videoInfo .info {
		width: 98%;
		padding: 1%;
	}
	
	.about {
		width: 98%;
		margin: 1%;
		flex-wrap: wrap;
		gap: 1%;
	}
	.about .aboutBlock{
		width: 100%;
	}
	.about .aboutTours{
		width: 100%;
	}
	.about .aboutTours .block .img {
		width: 100%;
		position: relative;
		height: 180px;
	}
	.about .aboutTours .block .img .info span {
		font-size: 1.2rem;
	}
}